body{
    background-color: #f1f1f1;
}

.g-header{
    width: 100%;
    height: 70px;
    line-height: 70px;
    background-color: #fff;
}

.g-header .nav{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    clear: both;
}

.g-header .nav li{
    float: left;
    /* border-top: 4px solid transparent; */
}

.g-header .nav li a{
    display: block;
    height: 66px;
    padding: 0 30px;
    line-height: 66px;
    color: #333;
    font-size: 16px;

}

.g-header .nav li.on{
    border-top: 4px solid #109d59;
    color:#109d59
}

.goodies-goods-list{
    width: 1200px;
    margin: 50px auto;
}


.goodies-goods-list .list-item{
    width: 100%;
    overflow: hidden;
    clear: both;
}

.goodies-goods-list .list-item .left{
    float: left;
    width: 600px;
    height: 310px;
}

.goodies-goods-list .list-item .item-text-right{
    width: 600px;
    height: 310px;
    float: right;
    padding:30px;
    /*if no box-sizing, try*/
    box-sizing: border-box;
    background-color: #fff;
}

.goodies-goods-list .list-item h3{
    font-size: 18px;
    font-weight: 700;
}
.goodies-goods-list .list-item p{
    font-size: 14px;
    color: #666;
    line-height: 2;
    font-weight: 700;
    margin-top: 20px;

}

.goodies-goods-list .list-item .item-btn{
    display: block;
    width: 120px;
    height: 30px;
    background-color: #e32929;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    line-height: 30px;
}

.goodies-goods-list .list-item a{
    font-size: 14px ;
    color: #fff;

}

.goodies-goods-list .list-item .item-text-left{
    float: left;
    width: 600px;
    height: 528px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #fff;
}

/* .goodies-goods-list .list-item img{
    width: 600px;
    height: 528px;
} */

.goodies-goods-list .list-item .right{
    float: right;
    width: 600px;
    height: 528px;

}
